body{
    background-color: url(../img/footer-bg.png);
    width: 135px;
    height: 1000px;
    background-repeat: no-repeat;
    z-index: -1;
}
#footer-img{
    margin: 100px;
    -webkit-transform: scaleX(-1);
    transform: scaleX();
    

}